html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello from The End Zone!!
        p We hope you're enjoying learning Docker and Kubernetes!
        p 
          a.btn.btn-primary(href="https://www.amazon.com/dp/1617293725?tag=uuid10-20" target="_blank") Kubernetes in Action

          a.btn.btn-outline-primary(href="https://www.amazon.in/Docker-Book-Containerization-new-virtualization-ebook/dp/B00LRROTI4" target="_blank") The Docker Book          
          
          a.btn.btn-primary(href="https://www.amazon.in/Kubernetes-Complete-Beginner-Advanced-tutorials-ebook/dp/B08B1RXRNL" target="_blank") Kubernetes: Complete Guide to Kubernetes
        p
        p Be careful. The last time I updated the packages in this app was July 2021.
